<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wise</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <div class="container row1">
    <img src="{{object.UserBookLogo.url }}" class="img-fluid" alt="Sample photo" width="460" height="700">
    <h1 class="strong">{{object.UserBookName}}</h1>
    <ul class="list-group">
            <li class="list-group-item">Price - ${{object.UserBookPrice}}</li>
            <li class="list-group-item">Location - {{object.UserLocation}}</li>
            <li class="list-group-item">User Name - {{object.UserName}}</li>
            <li class="list-group-item">User Phone Number - {{object.UserPhoneNumber}}</li>
            <li class="list-group-item">User Email - {{object.UserEmail}}</li>

          </ul>

</div>
</body>
</html>








